# Created by .ignore support plugin (hsz.mobi)
server/node_modules
server/package-lock.json
server/scripts/create_schema.sql
server/scripts/create_user.sql
server/scripts/seed_data.sql
server/scripts/README.md
